{% extends "base.html" %}
{% block titulo %}
  .::Configuracion Grifo
{% endblock titulo %}
{% block content1 %}
    <div class="container">
      <form action="/Cambiar_Estacion/" method="POST" data-toggle="validator" role="form"> {% csrf_token %}
        <div class="row"><br><br><br><br></div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12" >
              <div class="panel panel-primary">
                <div class="panel-heading" align="center"> <h5>SINAL DE DADOS</h5>
                <button type="button" class="btn btn-primary btn-block" id="btnRefrescar">
                <span class="fa fa-refresh"></span> Actualizar</button>
                </div>
                <div class="panel-body">
                  <div class="row" id="grafico">
                    <canvas id="myChart"></canvas>
                  <div>  
                  <div class="row" id="Result">
                    <div class="col-md-12">
                      {% ifnotequal resultado '' %}
                      {% ifequal resultado 'exito' %}
                      <div class="alert alert-success" role="alert" align="center">
                        <h4>OPERACION EXITOSA</h4>
                      </div>
                      {% else %}
                      <div class="alert alert-danger" role="alert" align="center">
                        <h4>ERROR {{resultado}}</h4>
                      </div>
                      {% endifequal %}
                      {% endifnotequal %}
                    </div>
                  </div>
<!--
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-12">
                              <p class="bg-warning" align="center">
                             
                                <b>Seleccione <em></em>l Grifo</b>
                              </p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 col-md-offset-2" align="right">
                              <h5>Grifo (Estacion)</h5>
                            </div>
                            <div class="col-md-4">               
                              <div class="select">
                                <select  name="estacion" id="txtEstacion" placeholder="Estacion"> 
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>  
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4">
                      <input class="btn btn-primary btn-block" type="submit" value="Guardar">
                    </div>
                  </div>
-->
                </div>
              </div>
          </div>
        </div>
      </form>
    </div>
    <script type="text/javascript">
      //-------------------------------------CHART-------------------------------------------    
var a = 2;


var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
  // The type of chart we want to create
  type: 'line',
  // The data for our dataset
  data: {
      labels: ["January", "February", "March", "April", "May", "June", "July"],
      datasets: [{
          label: "Heart Rate Variability",
          backgroundColor: 'rgb(10, 134, 161)',
          borderColor: 'rgb(0, 255, 255)',
          data: [0, 10, 5, 2, 20, 30, 15],
      }]
  },
  // Configuration options go here
  options: {} });        

//-------------------------------------------------------------------------------------
function removeData(chart) {
    chart.data.labels.pop();
    chart.data.datasets.forEach((dataset) => {
        dataset.data.pop();
    });
    chart.update();
}

function addData(chart, label, data) {
    chart.data.labels.push(label);
    chart.data.datasets.forEach((dataset) => {
        dataset.data.push(data);
    });
    chart.update();
}
    var beats = [];
    var labels = [];

ajax_graf_heart(chart);
function ajax_graf_heart(chart){
    $.ajax({
      url:'/listado_heart/',
      data:{},
      type:'GET',
      dataType:'json',
      success: function(data){
        Aux = data;
        for(var i=0;i<data.length;i++){
            labels.push(data[i].pk);
            beats.push(data[i].Beat); 
        }
        //$('#listaC').html(html);
        console.log(labels);
        console.log(beats);
        tam = chart.data.labels.length
for (i = 0; i < tam; i++) {
    console.log(i);
    removeData(chart);
}
for (i = beats.length-1; i >= 0 ; i--) {
    addData(chart,labels[i],beats[i]);
}
    //addData(chart,labels,beats);
      }
    });
}

    $("#btnRefrescar").click(function(){
          beats = []
          labels = []
          ajax_graf_heart(chart);
    });

</script>
{% endblock content1 %}
