{% extends "base.html" %}
{% block titulo %}
  .::INICIO
{% endblock titulo %}
{% block content1 %}
    <div class="container">
        <div class="row"><br><br><br><br></div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12" >
              <div class="panel panel-primary">
                <div class="panel-body">
                  <h3>Benvenido a plataforma de Monitoramento!!</h3>
                </div>
              </div>
          </div>
        </div>
    </div>
{% endblock content1 %}
